# Created by Vercel CLI
AUTH_SECRET="7JhOdiemxRP8vr91bspRxfgDhdzM5XqzrvnRvvmjhCI="

AUTH_GITHUB_ID="Iv1.78fa2109f4974864"
AUTH_GITHUB_SECRET="5d37080f5b18659ea716713a69b64d78bd6d304a"

AUTH_GOOGLE_ID=12281926898-r3bmc1umr4athh8bb8a6n720e4g0hp9c.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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

BLOB_READ_WRITE_TOKEN="vercel_blob_rw_lzgSJqMpiJtlTSGj_kvyYIu3NkdKeo43lZq86KhaGS0L5e0"
NX_DAEMON=""
POSTGRES_DATABASE="verceldb"
POSTGRES_HOST="ep-throbbing-salad-34054900-pooler.ap-southeast-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="3OPCWmvzQ8IV"
POSTGRES_PRISMA_URL="postgres://default:3OPCWmvzQ8IV@ep-throbbing-salad-34054900-pooler.ap-southeast-1.postgres.vercel-storage.com/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL="postgres://default:3OPCWmvzQ8IV@ep-throbbing-salad-34054900-pooler.ap-southeast-1.postgres.vercel-storage.com/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:3OPCWmvzQ8IV@ep-throbbing-salad-34054900.ap-southeast-1.postgres.vercel-storage.com/verceldb"
POSTGRES_USER="default"
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
VERCEL="1"
VERCEL_ENV="development"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
